.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-blend-mode: multiply;
        border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.sidebaritem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebartitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round',sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    line-height: 20px;
}
.sidebaritem >img{
margin-top: 15px;
width: 250px;
height: 250px;
}
.sidebar>p{
    padding: 30px;
}
.sidebarlist{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarlistitem{
 display: inline-block;
 width: 50%;
 margin-top: 15px;
 cursor: pointer;
}

.ptag{
    padding-top: 50px;
    line-height: 30px;
    text-align: center;
}


